*{
    margin: 0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}
.head{
    height:80px;
    background-color:rgb(167, 154, 154);
    display: flex;
    justify-content: space-between;padding-left: 20px;
    padding-left: 40px;
    padding-right: 40px;
    position:sticky;
    top:0;
}

a:hover{
    color:#8b5901
}
li{
    display:inline-block;
    margin-top: 20px;
    padding-left: 25px;
    font-size: 25px;
    text-transform:capitalize;
  }
a{
    text-decoration: none;
    color:wheat;
}
.container{
    background-image: url(images/image9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:200px;
    background-color: rgb(99, 30, 99);
    padding-top: 40px;
    text-align:center;
    text-transform:capitalize;
}
.container h1{
          font-size: 45px;
}
.container p{
    padding-top:30px;
   letter-spacing: 2px;
   word-spacing:5px;
   line-height:30px;
}
#content{
   
    background-color:rgb(240, 208, 240);
    padding: 20px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
   
}
#content div{
    margin: 20px;

}
#content img{
    border-radius: 5px;
    height:100%;
    width:100%;
  } 
.content2{
    background-image: url(images/image9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(99, 30, 99);
    padding:0 40px;
    height:250px;
    display:flex;
}
#wel,#abo,#ser{
    background-color:violet;
    border: 2px solid #8b5901;
    border-radius: 10px;
    padding:0 20px;
    margin:  20px;
}
.content2 h1{
    color: #8b5901;
}
.content2 #we{
    text-align: justify;
    color: #444;
    text-indent:50px;
    font-size: 18px;
    margin-top:20px;
    

}

.footer{
    height: 70px;
    background-color:#444;
    }
    .copy{
        font-size:20px;
        color:wheat;
        padding:20px 0 0 40px;
        text-transform: capitalize;

    }
